.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.register-form{
    border: 1px solid gray;
    width: 30%;
    padding: 30px;
}

.register{
        display: flex;
    justify-content: space-around;
    align-items: center; 
}